[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[core]
    editor = "code --wait"
[pull]
    rebase = false
[fetch]
    prune = true
[user]
    name = Camilo Duran
    email = camilod529@gmail.com
    username = camilod529
[github]
    user = camilod529
[core]
    sshCommand="ssh -i ~/.ssh/personal_key"
