[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[core]
    editor = "code --wait"
[pull]
    rebase = false
[fetch]
    prune = true
[user]
    name = Juan Gomez
    email = juan.gomez@neostella.com
    username = juan-gomez-neostella
[github]
    user = juan-gomez-neostella
[core]
    sshCommand="ssh -i ~/.ssh/work_key"
